    <section class="home-slider owl-carousel">

      <div class="slider-item" style="background-image: url(/datahome/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-5 bread">Blog</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="Index">Home</a></span> <span>Blog</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="/home/blog_single" class="block-20" style="background-image: url('/datahome/images/drink-7.jpg');">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">Sept 15, 2024</a></div>
                  <div><a href="#">Admin</a></div>  
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                        <h3 class="heading mt-2"><a href="#">Lemonade</a></h3>
                        <p>Lemonade is a popular beverage made from lemon juice, mixed with water, and often sweetened with sugar or honey. This is a drink rich in vitamin C, 
                            which quenches thirst, enhances resistance, supports digestion and beautifies the skin. Lemon water can be drunk cold in the summer or warm in the morning to purify the body.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="/home/blog_single" class="block-20" style="background-image: url('/datahome/images/drink-6.jpg');">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">Sept 28, 2023</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">Coffee Testing Day</a></h3>
                        <p>Strawberry juice is made from fresh strawberries, squeezed and can add sugar or honey to increase sweetness. This is a drink rich in vitamin C, antioxidants, and other healthy nutrients.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="/home/blog_single" class="block-20" style="background-image: url('/datahome/images/drink-5.jpg');">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">Dec 12, 2023</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                        <h3 class="heading mt-2"><a href="#">Pure orange</a></h3>
                        <p>Strawberry juice is a drink made from fresh strawberries or strawberry syrup, mixed with water and often added sugar or ice to enhance the flavor. 
                            Strawberry juice has a sweet and sour taste and is rich in vitamin C.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="/home/blog_single" class="block-20" style="background-image: url('/datahome/images/americano.jpg');">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">Sept 22, 2021</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                        <h3 class="heading mt-2"><a href="#">Pure coffee</a></h3>
                        <p>Pure coffee has a delicious taste and rich flavor</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="/home/blog_single" class="block-20" style="background-image: url('/datahome/images/th.jpg');">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">Sept 12, 2022</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                        <h3 class="heading mt-2"><a href="#">Cappuccino</a></h3>
                        <p>Delicious milk coffee, strong coffee flavor, good for health</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="/home/blog_single" class="block-20" style="background-image: url('/datahome/images/bg_2.jpg');">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">Apri 11, 2020</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                        <h3 class="heading mt-2"><a href="#">Ground Coffee</a></h3>
                        <p>Purely ground coffee, flavorful, delicious and nutritious.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>