<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Coffee - Group project 15</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link href="~/datahome/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
    <link href="~/datahome/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/datahome/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/datahome/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/datahome/css/style.css" rel="stylesheet" />
    <link href="~/datahome/css/animate.css" rel="stylesheet" />
    <link href="~/datahome/css/aos.css" rel="stylesheet" />
    <link href="~/datahome/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/datahome/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/datahome/css/jquery.timepicker.css" rel="stylesheet" />
    <link href="~/datahome/css/flaticon.css" rel="stylesheet" />
    <link href="~/datahome/css/icomoon.css" rel="stylesheet" />
    <script src="~/files/tailwind.js"></script>
    <script src="~/files/vue.global.js"></script>
    <script src="~/files/axios.min.js"></script>
  </head>
  <body>
  	<nav class="navbar Link navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index">Coffee<small>Blend</small></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="index" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="/home/menu" class="nav-link">Menu</a></li>
	          <li class="nav-item"><a href="/home/services" class="nav-link">Services</a></li>
	          <li class="nav-item"><a href="/home/blog" class="nav-link">Blog</a></li>
	          <li class="nav-item"><a href="/home/about" class="nav-link">About</a></li>
	          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="room" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
              	<a class="dropdown-item" href="/home/shop">Shop</a>
                <a class="dropdown-item" href="/home/product_single">Single Product</a>
                <a class="dropdown-item" href="/home/cart">Cart</a>
                <a class="dropdown-item" href="/home/checkout">Checkout</a>
              </div>
            </li>
	          <li class="nav-item"><a href="/home/contact" class="nav-link">Contact</a></li>
	          <li class="nav-item cart"><a href="/home/cart" class="nav-link"><span class="icon icon-shopping_cart"></span><span class="bag d-flex justify-content-center align-items-center"><small>1</small></span></a></li>
	        </ul>
	      </div>
		  </div>
	  </nav>
    @RenderBody()
    <footer class="ftco-footer ftco-section img">
    	<div class="overlay"></div>
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About Us</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Recent Blog</h2>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(~/datahome/images/image_1.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> Sept 15, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(~/datahome/images/image_2.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> Sept 15, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
             <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Services</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Cooked</a></li>
                <li><a href="#" class="py-2 d-block">Deliver</a></li>
                <li><a href="#" class="py-2 d-block">Quality Foods</a></li>
                <li><a href="#" class="py-2 d-block">Mixed</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
          </div>
        </div>
      </div>
    </footer>
  <main id="app" class="min-h-screen bg-gray-100 p-8">
            <div class="max-w-2xl mx-auto">
                <div class="bg-white shadow rounded-lg p-6">
                    <div class="flow-root">
                        <div class="mt-6">
                            <!-- Chat Input -->
                            <form v-on:submit.prevent="sendMessage">
                              <div class="flex space-x-3">
                                <input type="text" v-model="userInput" placeholder="Type your message here..." class="flex-1 rounded-md shadow-sm p-2"/>
                                  <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">
                                    <svg v-if="isLoading"aria-hidden="true"class="w-4 relative -top-0.5 mr-1 inline-block text-gray-200 animate-spin fill-blue-600"viewBox="0 0 100 101"fill="none"xmlns="http://www.w3.org/2000/svg"></svg>Send
                                 </button>
                              </div>
                            </form>
                        </div>
                        <!-- Chat Messages -->
                        <ul class="divide-y divide-gray-200">
                            <li class="py-3 sm:py-4"v-for="message in messages">
                                <div class="flex items-center space-x-4" v-if="message.role !== 'system'" v-bind:class="messageClasses(message.role)">
                                    <div class="flex-shrink-0">
                                        <img
                                            v-if="message.role === 'assistant'"
                                            class="w-8 h-8 rounded-full"
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTagONv1r-0HPnlnWClF12amS_KdrPX83zlhcXHyek&s"
                                            alt="ChatGPT Icon"
                                        />
                                    </div>
                                    <div class="flex-1 min-w-0">
                                        <p class="text-sm text-gray-800 break-normal whitespace-pre-line" v-bind:class="messageClasses(message.role)">
                                            <span
                                                v-if="message.role === 'user'"
                                                class="font-bold"
                                                >User:
                                            </span>
                                            {{ message.content }}
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  <script>
        const { createApp, ref } = Vue;
        const OPEN_AI_ENDPOINT = "http://localhost:8000/v1";

        createApp({
            setup() {
                const userInput = ref("");
                const messages = ref([
                    {
                        role: "system",
                        content:
                            "You're a helpful chat bot. Answer short and concise in 150 tokens only.",
                    },
                ]);
                const isLoading = ref(false);

                const messageClasses = (role) => ({
                    "text-right justify-end": role === "user",
                    "text-left justify-start": role === "assistanHt",
                });

                async function sendMessage() {
                    if (!userInput.value.trim()) return;

                    // Append user message
                    messages.value.push({
                        role: "user",
                        content: userInput.value,
                    });

                    try {
                        isLoading.value = true;
                        userInput.value = "";

                        // Send API request to OpenAI endpoint
                        const response = await axios.post(
                            `${OPEN_AI_ENDPOINT}/chat/completions`,
                            {
                                model: 'gpt-3.5-turbo',
                                // model: "gpt-4-1106-preview",
                                messages: messages.value,
                                temperature: 0.9,
                                max_tokens: 150,
                            }
                        );
                        // Append ChatGPT response
                        messages.value.push({
                            role: "assistant",
                            content: response.data.choices[0].message.content,
                        });
                    } catch (error) {
                        console.error(
                            "There was an error with the API request",
                            error,
                        );
                    } finally {
                        isLoading.value = false;
                    }
                }
                return {
                    userInput,
                    messages,
                    messageClasses,
                    sendMessage,
                    isLoading,
                };
            },
        }).mount("#app");
    </script>
  <script src="~/datahome/js/jquery.min.js"></script>
  <script src="~/datahome/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="~/datahome/js/popper.min.js"></script>
  <script src="~/datahome/js/bootstrap.min.js"></script>
  <script src="~/datahome/js/jquery.easing.1.3.js"></script>
  <script src="~/datahome/js/jquery.waypoints.min.js"></script>
  <script src="~/datahome/js/jquery.stellar.min.js"></script>
  <script src="~/datahome/js/owl.carousel.min.js"></script>
  <script src="~/datahome/js/jquery.magnific-popup.min.js"></script>
  <script src="~/datahome/js/aos.js"></script>
  <script src="~/datahome/js/jquery.animateNumber.min.js"></script>
  <script src="~/datahome/js/bootstrap-datepicker.js"></script>
  <script src="~/datahome/js/jquery.timepicker.min.js"></script>
  <script src="~/datahome/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="~/datahome/js/google-map.js"></script>
  <script src="~/datahome/js/main.js"></script>
  </body>
</html>